@CHARSET "UTF-8";

a:link{ text-decoration : none ;color :#36648B;font-size:15px;} 
a:visited { text-decoration : none ;color : #36648B ;font-size:15px;} 
a:hover { text-decoration : underline ;color :#CD0000 ;font-size:15px;} 
a:active { text-decoration : none ;color :#36648B ;font-size:15px;}	




    
